<div id="wrapper">
    <div class="container">
        <div id="logo">
            <img src="/assets/CallofCthulhuLogo.png" alt="">
        </div>
        <form [formGroup]="loginForm">
            <div class="mb-3 fieldWrapper">
                <label for="name" class="form-label" >Nombre</label>
                <div class="box">
                    <div class="box-inner">
                        <input type="text" id="name" formControlName="name">
                    </div>
                </div>
                <div class="text-danger" *ngIf="hasErrors('name', 'required')">
                    Nombre obligatorio
                </div>
            </div>
            <div class="mb-3 fieldWrapper">
                <label for="password" class="form-label">Contraseña</label>
                <div class="box">
                    <div class="box-inner">
                        <input type="password" id="password" formControlName="password">
                    </div>
                </div>
                <div class="text-danger" *ngIf="hasErrors('password', 'required')">
                    Contraseña obligatoria
                </div>
            </div>
            <div class="text-danger" [ngClass]="{'hidden': errorLogin == ''}">
                El usuario o la contraseña no coinciden.
            </div>
            <div class="text-danger" [ngClass]="{'hidden': errorRegister == ''}">
                Ya existe un nombre con ese usuario
            </div>
            <div class="buttons">
                <button type="button" (click)="login()">Entrar</button>
                <button type="button" (click)="register()">Registrarse</button>
            </div>
        </form>
    </div>
</div>