#wrapper{
    margin-top: 50px;
}
.container {
    text-align: center;
    display: block;
    border-bottom: none;
    position: relative;
}

.list {
    padding: 15px;
    font-size: 2em;
}

.list:after {
    content: "";
    background: -webkit-linear-gradient(left, rgb(92 7 52 / 0%) 0%, rgb(255 220 105) 47%, rgb(83 0 30 / 0%) 100%);
    display: block;
    height: 3px;
    position: relative;
    top: 0px;
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}