<div id="wrapper">
    <div class="container">
        <div class="list">
            <a href="#" routerLink="/newCharacter">Nuevo personaje</a>
        </div>
        @for (character of characters; track $index) {
            <div class="list">   
                <a href="#" [routerLink]="['/characters', character]" (touchstart)="onPress(character)">{{character}}</a>
            </div>
        }
    </div>
    @if (showEditCharacter) {
        <div class="popupWrapper">
            <edit-character class="popup" [characterName] = "character" (close)="EditCharacterOut($event)"/>
        </div>
        <div id="popupBackgroud" (click)="showEditCharacterFunc()"></div>
    }
</div>
